<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
</style>
<body style="background-color:orange;">
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"> HelpDesk </a>
    </div>
    <ul class="nav navbar-nav">
        <li><a href="#aboutModel" data-toggle="modal" data-target="#aboutModel"> About </a></li>
          <li><a href="/homeFeed/"> Question Feed </a></li>
      <li><a href="/leaderBoard/"> LeaderBoard </a></li>
    </ul>
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#questionModel">
      Ask For Help!
  </button>
      <div class="modal fade" id="aboutModel" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title"> Welcome to HelpDesk! </h3>
        </div>
        <div class="modal-body">
           <h4> You can post your problems here and get others to help out. </h4>
           <h4> Alternatively, you can help others too! </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="questionModel" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> Ask the help you need :) </h4>
        </div>
        <div class="modal-body">
           <form action="/addQuestion/" method="post"> {% csrf_token %}
               <div class="form-group">
                   <input type="text" class="form-control" placeholder="Type what help you need here" name="question_name">
               </div>
               <div class="model-footer">
                   <button type="submit" class="btn btn-info" value="Submit"> Submit </button>
               </div>
           </form>
        </div>
      </div>
    </div>
  </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/signUp/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/login/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
  </nav>
<div class="container">
  <div class="panel-group">
      <h2 align="center"> {{question.question_name}}  <button type="button" style="float:right;" class="btn btn-success btn-lg" data-toggle="modal" data-target="#writeAnswerModel">
               Respond
            </button> <h2>

         <ul>
             {% for answer in all_answers_for_question %}
               <div class="panel panel-default">
                   <div class="panel-body">
                     <h4 style="margin-left:1%">
                       Answer{{forloop.counter}}: {{answer.answer_content}}
                         <a href="/upvote/" class="btn btn-info" role="button" style="float:right"> Upvote </a>
                     </h4>
                   </div>
               </div>
             {% endfor %}
         </ul>
  </div>
</div>

<div class="modal fade" id="writeAnswerModel" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> Thanks for your kindness to help! </h4>
        </div>
        <div class="modal-body">
           <form action="/addAnswer/{{question.id}}" method="post"> {% csrf_token %}
               <div class="form-group">
                   <input type="text" class="form-control" placeholder="Type your response here" name="answer_content">
               </div>
               <div class="model-footer">
                   <button type="submit" class="btn btn-info" value="Submit"> Submit </button>
               </div>
           </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

